---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Variables
@import "variables";

// Navigation Menu
@import "navigation";

// Icomoon Font Icons
@import "icomoon/base";

// Core Layout
@import "base";
@import "layout";

// Utility Classes
@import "utility";

// Zurb Foundation Stuff
@import "foundation/foundation";


// Misc.
.button {
  background-color: #98E690;
  border: none;
  color: black;
  padding: 5% 5%;
  text-align: center;
  font-size:0.875em;
  margin: 0px 0px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  border-radius:5%;
  max-width: 100%;
}

.button:hover {opacity: 1}

table {
  padding: 0;
  border: none;}


table td + td{  /* this will go to the 2nd column of a table directly */
    width: 20%;
    text-align: center;
    border: 7px solid #98E690;
    padding: 15px;
    font-weight: bold;
}
