---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Variables
@import "variables";

// Navigation Menu
@import "navigation";

// Icomoon Font Icons
@import "icomoon/base";

// Core Layout
@import "base";
@import "layout";

// Utility Classes
@import "utility";

// Zurb Foundation Stuff
@import "foundation/foundation";


// Misc.
.button {
  background-color: #98E690;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {opacity: 1}

table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }
